<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>
<h2> Post Likes</h2>
<div th:if="${error}" id ="error">
    <h2 class="error" th:text="${error}">Error</h2>
</div>
<main th:if="${post}" id="posts">
    <article>
        <h2 class="title" th:text="${post.title}">Post Title</h2>
        <p class="content" th:utext="${post.body}">Post content</p>
        <h2 class="likes" th:text="${post.likes}">Post Likes</h2>
    </article>

    <a th:href="@{/posts/view/{id}(id=${post.id})}">
        <button type="button"> Go to Post </button>
    </a>
</main>

</body>

</html>